In [1]:
import numpy as np

a = [1,2,3,4,5]
b =  np.array(a)

print(type(a))
print(a)
print('-----------------')
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4, 5]
-----------------
<class 'numpy.ndarray'>
[1 2 3 4 5]

In [3]:
print(a[0])
print(b[0])

print(a[0:3])
print(b[0:3])

1
1
[1, 2, 3]
[1 2 3]

In [5]:
# 덧셈 연산
print(a+a)
print(b+b)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[ 2  4  6  8 10]

In [10]:
print(b)
print(b+2)
print(b/2)
print(b//2)
print(b-1)

[1 2 3 4 5]
[3 4 5 6 7]
[0.5 1.  1.5 2.  2.5]
[0 1 1 2 2]
[0 1 2 3 4]

In [11]:
import pandas as pd

a = pd.Series([1,2,3,4,5])
print(a)
print(type(a))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
# 인덱스를 따로 지정
# list -> Series
a = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
print(a)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
# dict -> Series
a = pd.Series({'a' : 1, 'b' : 2, 'c' : 3})
print(a)

a    1
b    2
c    3
dtype: int64

In [14]:
a = pd.Series({'a': [1,1,1], 'b':[2,2,2], 'c':[3,3,3]})
b = pd.DataFrame({'a': [1,1,1], 'b':[2,2,2], 'c':[3,3,3]})

print(type(a))
print(a)
print('----------------------')
print(type(b))
print(b)

<class 'pandas.core.series.Series'>
a    [1, 1, 1]
b    [2, 2, 2]
c    [3, 3, 3]
dtype: object
----------------------
<class 'pandas.core.frame.DataFrame'>
   a  b  c
0  1  2  3
1  1  2  3
2  1  2  3

In [15]:
b['b'] = [3,4,5,]
print(b)

   a  b  c
0  1  3  3
1  1  4  3
2  1  5  3

In [17]:
b.index = ['x', 'y', 'z']
b.columns = ['i', 'j', 'k']
print(b)

   i  j  k
x  1  3  3
y  1  4  3
z  1  5  3

In [19]:
print(b['j'])

x    3
y    4
z    5
Name: j, dtype: int64

In [23]:
print(b)
#print(b.describe())

   i  j  k
x  1  3  3
y  1  4  3
z  1  5  3

In [22]:
# sum()
print(b.sum())

i     3
j    12
k     9
dtype: int64

In [26]:
print(b.sum(axis=1))

x    7
y    8
z    9
dtype: int64

In [27]:
data = pd.read_csv('ml-latest-small/movies.csv')
data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [28]:
# 장르 분리
genre = []

for i in data['genres']:
    genre.extend(i.split('|'))

print(len(genre))

22084

In [29]:
uq_genre = pd.unique(genre)
print(uq_genre)
print(len(uq_genre))

['Adventure' 'Animation' 'Children' 'Comedy' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Mystery' 'Sci-Fi' 'War' 'Musical'
 'Documentary' 'IMAX' 'Western' 'Film-Noir' '(no genres listed)']
20

In [31]:
zero_data = np.zeros(len(uq_genre))
# numpy -> pandas
result = pd.DataFrame(zero_data, index=uq_genre, columns=['count'])
print(result)

NameError: name 'uq_renre' is not defined