In [1]:
!pip install PyMySql

Collecting PyMySql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.0.2

In [19]:
import pymysql
project_db = pymysql.connect(
    user='scott',
    passwd='tiger',
    host='127.0.0.1',
    db='project',
    charset='utf8'
)

In [24]:
# 일반 튜플 형태로 값이 반환 
cursor1 = project_db.cursor() 

# 딕셔너리 형태로 값이 반환 => pandas를 이용한 분석에서 쉽게 사용
cursor2 = project_db.cursor(pymysql.cursors.DictCursor)

In [25]:
sql = "SELECT * FROM member" 

cursor1.execute(sql) 
result1 = cursor1.fetchall() 

cursor2.execute(sql) 
result2 = cursor2.fetchall()

In [26]:
print('튜플 형태로 출력') 
for item in result1:
    print(item) 
    
print('------------------------------------------------------------') 

print('딕셔너리 형태로 출력') 
for item in result2:
    print(item)

튜플 형태로 출력
(2, 'cool', '1111', None, 'COOL', '93711616270100프로젝트 팀.JPG')
(3, 'test', '1111', None, '테스터', '97920830784700mini1.png')
(4, 'hto', '1234', None, 'HOT', None)
(5, 'hot', '1111', None, 'HOT', '252605100575800프로젝트 팀.JPG')
(6, 'test111', '111', None, 'Tester111', None)
(9, 'tester', '1313', None, '테스터', None)
------------------------------------------------------------
딕셔너리 형태로 출력
{'idx': 2, 'uid': 'cool', 'pw': '1111', 'uuid': None, 'uname': 'COOL', 'uphoto': '93711616270100프로젝트 팀.JPG'}
{'idx': 3, 'uid': 'test', 'pw': '1111', 'uuid': None, 'uname': '테스터', 'uphoto': '97920830784700mini1.png'}
{'idx': 4, 'uid': 'hto', 'pw': '1234', 'uuid': None, 'uname': 'HOT', 'uphoto': None}
{'idx': 5, 'uid': 'hot', 'pw': '1111', 'uuid': None, 'uname': 'HOT', 'uphoto': '252605100575800프로젝트 팀.JPG'}
{'idx': 6, 'uid': 'test111', 'pw': '111', 'uuid': None, 'uname': 'Tester111', 'uphoto': None}
{'idx': 9, 'uid': 'tester', 'pw': '1313', 'uuid': None, 'uname': '테스터', 'uphoto': None}

In [17]:
import pandas as pd

data = pd.DataFrame(result2)
data

   idx      uid    pw  uuid      uname                     uphoto
0    2     cool  1111  None       COOL   93711616270100프로젝트 팀.JPG
1    3     test  1111  None        테스터    97920830784700mini1.png
2    4      hto  1234  None        HOT                       None
3    5      hot  1111  None        HOT  252605100575800프로젝트 팀.JPG
4    6  test111   111  None  Tester111                       None

In [23]:
cursor = project_db.cursor() 
payload = ('tester', '1313', '테스터')
sql = 'insert into member (uid, pw, uname) values (%s,%s,%s)'
cursor.execute(sql, payload)
cursor.commit()

IntegrityError: (1062, "Duplicate entry 'tester' for key 'member.uid_UNIQUE'")